# --------------------------------------------------------------------------------------------------
# Conda Environment Specification for the Loretex Package
#
# To create the environment, run:
# ```sh
# conda env create -f environment.yml
# ```
#
# To activate the environment, run:
# ```sh
# conda activate loretex
# ```
#
# Notes:
#
# - Alternative markdown parser: `mistune`.
# --------------------------------------------------------------------------------------------------
name: loretex
channels:
  - conda-forge
  - defaults
dependencies:
  - python>=3.12
  - pyyaml         # for parsing YAML specification file
  # - markdown-it-py # optional alternative Markdown parser
  - attrs          # for structured representation of configuration or document elements
  - typer          # for command-line interface
  - rich           # for improved CLI output formatting
  - pytest>=8.0
  - pytest-cov>=4.0
  - mypy>=1.8
  - ruff>=0.1

  - pip
  - conda-build
  - conda-index
  - pip:
      - -e .
      - types-PyYAML
